In [89]:
import pandas as pd
df = pd.read_csv('messy_data.csv')

In [90]:
df

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
0,0.50,IF,D,Ideal,5.1,5.15,3.2,61.5,,3000
1,0.70,vvs2,E,premium,5.7,,3.52,62,59,4500
2,NaN,Si2,h,Good,4.3,4.31,,62.3,56,700
3,1.20,if,d,ideal,,6.82,4.2,61.7,58,10000
4,0.90,I1,J,Fair,6,,3.7,61.7,,2400
...,...,...,...,...,...,...,...,...,...,...
195,0.45,si1,F,very good,4.9,4.89,,62.4,59,2300
196,1.25,VVS2,H,Good,6.9,,4.27,,55,10400
197,0.55,i1,I,Premium,5.3,,3.28,62.3,57,150000
198,0.85,Si2,E,fair,6.1,6.13,3.78,,58,6300
199,NaN,VVS1,G,Very good,6.4,6.43,3.97,62.5,,7500

In [91]:
# a. UsuniÄ™cie duplikatÃ³w
df = df.drop_duplicates()
df

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
0,0.50,IF,D,Ideal,5.1,5.15,3.2,61.5,,3000
1,0.70,vvs2,E,premium,5.7,,3.52,62,59,4500
2,NaN,Si2,h,Good,4.3,4.31,,62.3,56,700
3,1.20,if,d,ideal,,6.82,4.2,61.7,58,10000
4,0.90,I1,J,Fair,6,,3.7,61.7,,2400
...,...,...,...,...,...,...,...,...,...,...
195,0.45,si1,F,very good,4.9,4.89,,62.4,59,2300
196,1.25,VVS2,H,Good,6.9,,4.27,,55,10400
197,0.55,i1,I,Premium,5.3,,3.28,62.3,57,150000
198,0.85,Si2,E,fair,6.1,6.13,3.78,,58,6300
199,NaN,VVS1,G,Very good,6.4,6.43,3.97,62.5,,7500

In [92]:
# df = df.dropna()
df

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
0,0.50,IF,D,Ideal,5.1,5.15,3.2,61.5,,3000
1,0.70,vvs2,E,premium,5.7,,3.52,62,59,4500
2,NaN,Si2,h,Good,4.3,4.31,,62.3,56,700
3,1.20,if,d,ideal,,6.82,4.2,61.7,58,10000
4,0.90,I1,J,Fair,6,,3.7,61.7,,2400
...,...,...,...,...,...,...,...,...,...,...
195,0.45,si1,F,very good,4.9,4.89,,62.4,59,2300
196,1.25,VVS2,H,Good,6.9,,4.27,,55,10400
197,0.55,i1,I,Premium,5.3,,3.28,62.3,57,150000
198,0.85,Si2,E,fair,6.1,6.13,3.78,,58,6300
199,NaN,VVS1,G,Very good,6.4,6.43,3.97,62.5,,7500

In [93]:
# df.info()
df.columns = df.columns.str.strip()
numeric_columns = ['x dimension', 'y dimension', 'z dimension', 'depth', 'price', 'table']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')
df['clarity'] = df['clarity'].astype("string")
df['clarity'] = df['clarity'].str.upper()
df['color'] = df['color'].astype("string")
df['color'] = df['color'].str.upper()
df['cut'] = df['cut'].astype("string")
df['cut'] = df['cut'].str.upper()
df = df.sort_values("price")
df['carat'].fillna(method='ffill', inplace=True)
df['price'].fillna(method='ffill', inplace=True)
df['table'].fillna(method='ffill', inplace=True)
# df = df.dropna(axis=0, subset=['x dimension', 'y dimension', 'z dimension', 'depth', 'price'])
# df['price'] = df['price'].astype("int64")
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 25 to 17
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   carat        200 non-null    float64
 1   clarity      200 non-null    string
 2   color        200 non-null    string
 3   cut          200 non-null    string
 4   x dimension  197 non-null    float64
 5   y dimension  136 non-null    float64
 6   z dimension  152 non-null    float64
 7   depth        133 non-null    float64
 8   table        167 non-null    float64
 9   price        200 non-null    float64
dtypes: float64(7), string(3)
memory usage: 17.2 KB

/var/folders/zj/cckyfy1j6d3g0tg4gytb4wtm0000gn/T/ipykernel_49020/3561488065.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['carat'].fillna(method='ffill', inplace=True)
/var/folders/zj/cckyfy1j6d3g0tg4gytb4wtm0000gn/T/ipykernel_49020/3561488065.py:12: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['carat'].fillna(method='ffill', inplace=True)
/var/folders/zj/cckyfy1j6d3g0tg4gytb4wtm0000gn/T/ipykernel_49020/3561488065.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['price'].fillna(method='ffill', inplace=True)
/var/folders/zj/cckyfy1j6d3g0tg4gytb4wtm0000gn/T/ipykernel_49020/3561488065.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['price'].fillna(method='ffill', inplace=True)

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
25,0.20,SI1,H,VERY GOOD,3.9,3.89,2.41,62.1,NaN,500.0
52,0.30,I1,I,FAIR,4.4,4.41,NaN,62.1,55.0,600.0
2,0.30,SI2,H,GOOD,4.3,4.31,NaN,62.3,56.0,700.0
23,0.30,VVS2,E,GOOD,4.6,4.58,2.85,NaN,56.0,800.0
62,0.35,I1,G,IDEAL,4.5,4.52,2.79,62.0,NaN,900.0
...,...,...,...,...,...,...,...,...,...,...
184,1.40,SI2,D,VERY GOOD,7.3,NaN,4.50,62.6,59.0,350000.0
8,1.40,SI2,I,GOOD,4.3,4.32,NaN,62.3,NaN,350000.0
10,0.50,SI1,COLORLESS,PREMIUM,NaN,5.21,3.21,61.6,58.0,350000.0
15,0.50,VVS2,I,GOOD,4.4,4.39,2.69,61.3,57.0,350000.0
17,1.00,IF,D,IDEAL,6.5,6.49,NaN,61.7,58.0,350000.0

In [94]:
# df = df.drop('table', axis=1)
df

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
25,0.20,SI1,H,VERY GOOD,3.9,3.89,2.41,62.1,NaN,500.0
52,0.30,I1,I,FAIR,4.4,4.41,NaN,62.1,55.0,600.0
2,0.30,SI2,H,GOOD,4.3,4.31,NaN,62.3,56.0,700.0
23,0.30,VVS2,E,GOOD,4.6,4.58,2.85,NaN,56.0,800.0
62,0.35,I1,G,IDEAL,4.5,4.52,2.79,62.0,NaN,900.0
...,...,...,...,...,...,...,...,...,...,...
184,1.40,SI2,D,VERY GOOD,7.3,NaN,4.50,62.6,59.0,350000.0
8,1.40,SI2,I,GOOD,4.3,4.32,NaN,62.3,NaN,350000.0
10,0.50,SI1,COLORLESS,PREMIUM,NaN,5.21,3.21,61.6,58.0,350000.0
15,0.50,VVS2,I,GOOD,4.4,4.39,2.69,61.3,57.0,350000.0
17,1.00,IF,D,IDEAL,6.5,6.49,NaN,61.7,58.0,350000.0

In [95]:
# wartosci odstajace na carat
q_low = df["carat"].quantile(0.01)
q_hi  = df["carat"].quantile(0.99)
print(q_low)
print(q_hi)
df = df[(df["carat"] < q_hi) & (df["carat"] > q_low)]
df

0.3
1.400999999999999

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
62,0.35,I1,G,IDEAL,4.5,4.52,2.79,62.0,NaN,900.0
72,0.45,I1,I,FAIR,4.8,4.81,2.98,NaN,54.0,1100.0
47,0.45,I1,D,GOOD,4.8,4.79,2.96,61.8,NaN,1200.0
26,0.35,IF,G,IDEAL,4.5,4.52,NaN,61.9,56.0,1300.0
45,0.35,IF,G,VERY GOOD,4.6,NaN,2.85,62.0,57.0,1400.0
...,...,...,...,...,...,...,...,...,...,...
184,1.40,SI2,D,VERY GOOD,7.3,NaN,4.50,62.6,59.0,350000.0
8,1.40,SI2,I,GOOD,4.3,4.32,NaN,62.3,NaN,350000.0
10,0.50,SI1,COLORLESS,PREMIUM,NaN,5.21,3.21,61.6,58.0,350000.0
15,0.50,VVS2,I,GOOD,4.4,4.39,2.69,61.3,57.0,350000.0
17,1.00,IF,D,IDEAL,6.5,6.49,NaN,61.7,58.0,350000.0

In [96]:
#kolumna cut jako categorical
df['cut'] = df.cut.astype('category')
df['cut'].describe()

/var/folders/zj/cckyfy1j6d3g0tg4gytb4wtm0000gn/T/ipykernel_49020/3853331942.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cut'] = df.cut.astype('category')

count       194
unique        5
top        GOOD
freq         48
Name: cut, dtype: object

In [97]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
Index: 194 entries, 62 to 17
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   carat        194 non-null    float64
 1   clarity      194 non-null    string
 2   color        194 non-null    string
 3   cut          194 non-null    category
 4   x dimension  191 non-null    float64
 5   y dimension  130 non-null    float64
 6   z dimension  149 non-null    float64
 7   depth        129 non-null    float64
 8   table        162 non-null    float64
 9   price        194 non-null    float64
dtypes: category(1), float64(7), string(2)
memory usage: 15.6 KB

,carat,clarity,color,cut,x dimension,y dimension,z dimension,depth,table,price
62,0.35,I1,G,IDEAL,4.5,4.52,2.79,62.0,NaN,900.0
72,0.45,I1,I,FAIR,4.8,4.81,2.98,NaN,54.0,1100.0
47,0.45,I1,D,GOOD,4.8,4.79,2.96,61.8,NaN,1200.0
26,0.35,IF,G,IDEAL,4.5,4.52,NaN,61.9,56.0,1300.0
45,0.35,IF,G,VERY GOOD,4.6,NaN,2.85,62.0,57.0,1400.0
...,...,...,...,...,...,...,...,...,...,...
184,1.40,SI2,D,VERY GOOD,7.3,NaN,4.50,62.6,59.0,350000.0
8,1.40,SI2,I,GOOD,4.3,4.32,NaN,62.3,NaN,350000.0
10,0.50,SI1,COLORLESS,PREMIUM,NaN,5.21,3.21,61.6,58.0,350000.0
15,0.50,VVS2,I,GOOD,4.4,4.39,2.69,61.3,57.0,350000.0
17,1.00,IF,D,IDEAL,6.5,6.49,NaN,61.7,58.0,350000.0

- Wizualizacja cena do kazdej zmiennej (sensownej) [ ]
- Zliczanie pozostaÅ‚ych [x]
- Regresja i wizka (statmodels, ols) [ ]
- dodaÄ‡Â brakujÄ…ce zmienne, posortowaÄ‡ po cenie [x]